
body {
    background-color: #f5e7a3; 
    font-family: 'Times New Roman', Times, serif, sans-serif; 
    color: #000000; 
    margin:0; 
    padding:0;
}

nav {
    margin: 10px;
    padding:5px;
    background-color:#eee;
    border-bottom:1px solid #aaa;
}

nav a {
    text-decoration: none;
    color: #444;
    margin-right: 10px;
    font-weight:bold; 
    font-size:14px;
}

header, .section, footer {
    background-color: #fff;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

img {
    margin: 5px;
    border: 2px solid #000000;
    width:300px;
}

